<!DOCTYPE html>

<html>
  <head>
    <title>Caesar Cipher</title>
    <link rel="stylesheet" href="{{url_for('static', filename='cipher.css')}}">
  </head>
  <body>
    <div id="back-container">
      <a href="../" id="back">HOME</a>
    </div>

    <h2>{{ data['name'] }}</h2>

    <div id="content">
      <div id="history">
        <h3>History</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit accusamus consequatur aliquam ipsum dolore distinctio exercitationem voluptate ut, expedita pariatur aliquid quisquam deleniti cum harum sequi, alias eaque sapiente? Veritatis.</p>
      </div>

      <div id="how-it-works">
        <h3>How It Works</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt vitae qui repellat earum, recusandae laboriosam aut non sint deserunt dicta quod fugit ullam molestias magni? Commodi consequuntur similique cum saepe.</p>

        <div class="inline">
          <div id="left">
            <form action="./caesar" method="POST">
              <div>
                <p class="bold">Plain Text: </p>
                <input value="{{data['plain_text']}}" name="text" />
                
                <p class="bold">Shift By: </p>
                <input type="number" value="{{ data['shiftBy'] }}" min=0 value=0 name="shift" />
              </div>
              
              <div id="button-container">
                <button type='submit'>Update</button>
              </div>
              <input name="data" value="{{data}}" type="hidden" />
            </form>
          </div>
  
          <div id="right">
            <div>
   
                <p><span class="bold">Default Alphabet:</span> {{ data['default_alphabet'] }}</p>
    
                <p><span class="bold">Shifted Alphabet:</span> {{ data['shifted_alphabet'] }}</p>
         
              <div>
                <p><span class="bold">Plain Text:</span> {{ data['plain_text'] }}</p>
                <p><span class="bold">Cipher Text:</span> {{ data['cipher_text'] }}</p>
              </div>
            </div>
          </div>
        </div>

        <div>
          <h3>Weaknesses</h3>
        </div>
      </div>
    </div>
  </body>
</html>